.form-box3 {
    margin-top: 50px;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-box3 h2 {
    text-align: center;
    margin-bottom: 20px;
    color:black;
  }
  
  .form-box3 .form-value {
    padding: 20px;
  }
  
  .form-box3 .inputbox {
    margin-bottom: 20px;
  }
  
  .form-box3 .inputbox input[type="text"],
  .form-box3 .inputbox input[type="email"],.form-box3 .inputbox input[type="tel"] {
    width: calc(100% - 10px);
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }  
