.frame-child {
  width: 35px;
  height: 20px;
  position: relative;
}
.frame-wrapper {
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.home {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
}
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: 8px;
}
.frame-item {
  width: 30px;
  height: 30px;
  position: relative;
}
.frame-wrapper1 {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.about-us {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 94px;
}
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.majesticonsarticle-line {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.majesticonsarticle-line-wrapper {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.articles {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.frame-div,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  flex-direction: row;
  padding: 0 12px 0 0;
  gap: var(--gap-smi);
}
.frame-div {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-inner {
  width: 30px;
  height: 30px;
  position: relative;
}
.frame-wrapper2 {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.profile {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
}
.frame-parent3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
  gap: var(--gap-smi);
}
.icon-park-outlinepeople {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-park-outlinepeople-wrapper {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.people {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 70px;
}
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 0;
  gap: var(--gap-smi);
}
.vector-icon {
  width: 30px;
  height: 30px;
  position: relative;
}
.vector-wrapper {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.setting {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 74px;
}
.frame-group,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-smi);
}
.frame-group {
  flex-direction: column;
  gap: 18px;
}
.frame-child1 {
  width: 30px;
  height: 40px;
  display: none;
}
.material-symbolslogout-sharp-icon {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.material-symbolslogout-sharp-wrapper {
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.log-out {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.icon-park-outlinepeople1,
.majesticonsarticle-line1 {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-1-inner,
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: #529dcb;
  overflow: hidden;
  padding: 27px 15px;
  gap: 434px;
}
.desktop-1-inner {
  width: 186px;
  padding: 119px 0 0;
  box-sizing: border-box;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 432px;
  height: 46px;
}
.search {
  border: 0;
  outline: 0;
  font-family: var(--font-inknut-antiqua);
  font-size: var(--font-size-lg);
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 347px;
  color: rgba(103, 98, 98, 0.58);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.material-symbolssearch-icon {
  position: absolute;
  top: 16px;
  left: 310px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  height: 51px;
  position: relative;
  border-radius: var(--br-xl);
}
.frame-wrapper3 {
  width: 432px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child2 {
  height: 46px;
  width: 98px;
  position: relative;
  background: linear-gradient(#50ea4d, #50ea4d),
    linear-gradient(#fffefe, #fffefe), #fff;
  display: none;
}
.free {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 46px;
  z-index: 1;
}
.frame-wrapper4,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  background: linear-gradient(#50ea4d, #50ea4d),
    linear-gradient(#fffefe, #fffefe), #fff;
  flex-direction: row;
  padding: 0 var(--padding-7xl);
}
.frame-wrapper4 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.frame-child3 {
  height: 46px;
  width: 105px;
  position: relative;
  background: linear-gradient(#529dcb, #529dcb),
    linear-gradient(#fffefe, #fffefe), #fff;
  display: none;
}
.login {
  height: 25px;
  position: relative;
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: var(--font-inknut-antiqua);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 59px;
  z-index: 1;
}
.frame-wrapper5,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-4xl) var(--padding-2xl);
  background-color: transparent;
  background: linear-gradient(#529dcb, #529dcb),
    linear-gradient(#fffefe, #fffefe), #fff;
  flex-direction: row;
}
.rectangle-container:hover {
  background-color: #e6e6e6;
}
.frame-wrapper5 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.ellipse-icon {
  height: 55px;
  width: 52.7px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.frame-header,
.frame-parent7,
.frame-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent8 {
  align-self: stretch;
  width: 303.7px;
  justify-content: flex-start;
  gap: 24px;
}
.frame-header,
.frame-parent7 {
  max-width: 100%;
}
.frame-parent7 {
  align-self: stretch;
  flex: 1;
  justify-content: space-between;
  gap: 20px;
}
.frame-header {
  width: 1110.7px;
  height: 76px;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) var(--padding-2xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}
.navigating-careers-anchoring,
.welcome-to-hire {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.welcome-to-hire {
  height: 37px;
  font-weight: 600;
  display: inline-block;
}
.welcome-to-hire-harbor-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: 30px;
}
.frame-section,
.navigating-careers-anchoring-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.navigating-careers-anchoring-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-section {
  width: 917px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 39px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--color-black);
  font-family: var(--font-libre-caslon-text);
}
.frame-child4 {
  width: 616px;
  height: 394px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  display: none;
  max-width: 100%;
}
.hire {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  min-width: 99px;
  z-index: 1;
}
.hire-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-19xl);
}
.have-job-vacancies {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  z-index: 1;
}
.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 34px;
}
.user-interfaces-for-employees-child {
  height: 61px;
  width: 195px;
  position: relative;
  border-radius: var(--br-31xl);
  display: none;
}
.sign-up-as {
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 2;
}
.user-interfaces-for-employees1 {
  cursor: pointer;
  border: 0;
  padding: 22px 24.5px var(--padding-2xl) 25.5px;
  background-color: var(--color-black);
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.employee-box:hover,
.user-interfaces-for-employees1:hover {
  background-color: var(--color-darkslategray);
}
.user-interfaces-for-employees {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.rectangle-parent1 {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--color-silver);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 62px 59px var(--padding-19xl);
  box-sizing: border-box;
  gap: 45px;
  max-width: calc(100% - 479px);
  flex-shrink: 0;
}
.ggprofile-icon {
  height: 24px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  right: 211px;
  bottom: 38px;
  overflow: hidden;
  flex-shrink: 0;
}
.jobmanager-1-icon {
  height: 398px;
  flex: 1;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.frame-parent9,
.frame-wrapper6,
.user-interfaces-for-employees2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.user-interfaces-for-employees2 {
  height: 398px;
  width: 463px;
  position: relative;
  max-width: calc(100% - 632px);
}
.frame-parent9,
.frame-wrapper6 {
  max-width: 100%;
}
.frame-parent9 {
  height: 386px;
  flex: 1;
  border-radius: 0 0 var(--br-131xl) 0;
  overflow: hidden;
  gap: 16px;
}
.frame-wrapper6 {
  width: 1115px;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: 48px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child5 {
  width: 195px;
  height: 61px;
  position: relative;
  display: none;
}
.get-hired {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  z-index: 1;
}
.hire-logo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.find-work {
  border: 0;
  background-color: var(--color-silver);
  height: 384px;
  width: 584px;
  outline: 0;
  position: absolute;
  margin: 0 !important;
  right: -67px;
  bottom: -164px;
  border-radius: 30px;
}
.span {
  font-size: var(--font-size-xl);
}
.want-to-put-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.get-job,
.job-manager {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.job-manager {
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-lg);
}
.get-job {
  flex-direction: column;
  gap: 30px;
}
.employee-box-child {
  height: 61px;
  width: 195px;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-black);
  display: none;
}
.sign-up-as1 {
  margin: 0;
}
.sign-up-as-container {
  height: 36px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  z-index: 2;
}
.employee-box,
.signup-employee {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.employee-box {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) var(--padding-4xl) var(--padding-9xs)
    var(--padding-5xl);
  background-color: var(--color-black);
  border-radius: var(--br-31xl);
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.signup-employee {
  width: 415px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.employee-sign-up-c-t-a,
.frame-parent11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent11 {
  width: 612px;
  border-radius: var(--br-xl);
  flex-direction: column;
  padding: var(--padding-33xl) 63px var(--padding-33xl) 98px;
  gap: 56px;
  max-width: 103%;
  flex-shrink: 0;
  z-index: 1;
}
.employee-sign-up-c-t-a {
  position: absolute;
  top: -9px;
  left: 20px;
  border-radius: 0 0 0 var(--br-131xl);
  width: 1095px;
  height: 394px;
  overflow: hidden;
  flex-direction: row;
  padding: 11px 0 0 501px;
  max-width: 100%;
}
.employee-1-icon {
  position: absolute;
  top: -25px;
  left: 0;
  width: 568px;
  height: 425px;
  object-fit: cover;
  z-index: 2;
}
.employee-sign-up-c-t-a-parent {
  align-self: stretch;
  height: 425px;
  position: relative;
  border-radius: 0 0 0 var(--br-131xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-25xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop-1,
.frame-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-main {
  flex: 1;
  flex-direction: column;
  gap: 44px;
  max-width: calc(100% - 294px);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 34px 0 149px;
  box-sizing: border-box;
  gap: 108px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inknut-antiqua);
}
@media screen and (max-width: 1000px) {
  .desktop-1-inner {
    padding-top: 77px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .frame-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-1-inner {
    display: none;
  }
  .navigating-careers-anchoring {
    font-size: var(--font-size-16xl);
  }
  .welcome-to-hire {
    font-size: 24px;
  }
  .hire {
    font-size: 38px;
  }
  .rectangle-parent1,
  .user-interfaces-for-employees2 {
    display: none;
    max-width: 100%;
  }
  .get-hired {
    font-size: var(--font-size-16xl);
  }
  .frame-main {
    max-width: 100%;
  }
  .desktop-1 {
    gap: 108px 54px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .desktop-1-inner {
    padding-top: 50px;
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: 17px 34px;
  }
  .rectangle-parent1 {
    gap: 22px 45px;
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .frame-main {
    gap: 22px 44px;
  }
}
@media screen and (max-width: 450px) {
  .navigating-careers-anchoring {
    font-size: var(--font-size-7xl);
  }
  .welcome-to-hire {
    font-size: var(--font-size-lg);
  }
  .hire {
    font-size: 29px;
  }
  .have-job-vacancies {
    font-size: 16px;
  }
  .rectangle-parent1 {
    padding-top: 40px;
    padding-bottom: 25px;
    box-sizing: border-box;
  }
  .get-hired {
    font-size: var(--font-size-7xl);
  }
  .desktop-1 {
    gap: 108px 27px;
  }
}
