.job-listing {
    background-color: #fff;
    border: 2px #529DCB;
    padding: 20px;
    margin-bottom: 20px;
    width: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 300px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 600px;
}
.sidebar {
    position: fixed;
    top: 100px;;
    left: 175px;
    height: 480px;
    width: 250px;
    background-color: #efefef;
    padding: 20px;
    overflow-y: scroll;
}
h1 {
    border: 1px grey;
    color: #434444;
    display: inline;
    border-radius: 2%;
    box-shadow: 0 4px 8px rgba(81, 79, 79, 0.2);
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar h3{
    color: rgb(71, 66, 66);
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebar h2 {
    margin-top: 0;
}

.container a {
    width: 100px;
    margin-left: 10px; 
    float: right;
    color: #529DCB ; 
    border: 1px solid #4583ab;
    box-shadow: 0 4px 8px rgba(84, 124, 234, 0.2);
    padding-left: 1px;
    border-radius: 3%;

}
.container a:hover {
    color: rgb(49, 106, 159);
}
h3+p{
margin: 2px;
}
.container i{
color:rgb(64, 97, 157);
margin: 4px;
}
input[type='reset']{
display: inline;
margin-top: 20px;
color: #529DCB;
float: inline-end;
}
.form-check1{
    margin-top: 20px;
}
.form-check{
    margin-top: 10px;
    margin-bottom: 25px;
}
.dropbtn {
    color: rgb(12, 12, 12);
    width: 150px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    border: #434444;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .dropdown {
    display: inline-block;
    width: 200px;
    border: #434444;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 250px;
    width: 250px;
    overflow-y: scroll;
  }
  .dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #c2c2c2;}
  .dropdown:hover .dropdown-content {display: block;}
