.container {
    margin: 5vw 20vw 5vw 20vw;
    display: flex;
    justify-content: center;
}
.profile{
    background-color: hsl(0, 2%, 88%);
    border-radius: 15px;
    padding: 40px;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-header {
    font-size: 2.75rem;
    font-family: Inter;
    font-weight: 500;
    text-align: center;
    margin:15px;
}
input {
    height: 1.75rem;
    margin:15px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 450px;
}
.container button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 35px;
    margin-bottom: 35px;
    border: none;
    border-radius: 50px;
    padding: 15px 25px;
    font-family: Inter;
    width: 475px;
}
.container button:hover {
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
}
.dropbtn {
  background-color: #7d7d7d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #8e8e8e;} 