.navbar{
    text-align: right;
    padding: 20px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: #529dcb;
  
  }
  .navbar a{
      color: white;
      text-decoration: none;
      font-size: medium;
      margin-right: 40px;
  }
  .navbar a:hover{
      color:  rgb(67, 63, 101);
  }
.container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-left:150px;
    margin-right:100x;
    width: 80%; 
    position: absolute;
    top: 200px;
    justify-content: space-evenly
  }
  
  
  #profile1, #profile2 {
    background-color:#529dcb;
    border: 2px solid white; 
    text-align: center;
    height: 300px;
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    box-sizing: border-box; 
  }
  .container h1 {
    margin-top: 118px;
  }
  a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
   text-align: center;
    margin-left: 30px;
  }
  a:hover {
    color: rgb(67, 63, 101);
  }
  