body {
  margin: 0;
  /* font-family: Inter; */
}
.navbar {
  text-align: right;
  padding: 10px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #529DCB;
}
a {
  margin: 20px;
  text-decoration: none;
  color: white;
}
a:hover {
  color: rgb(67, 63, 101);
}

.none{
  appearance: none;
    border: none;
    margin: none;
    padding: none;
    background: none;
    outline: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}